<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RouteRepository" value="C:\Ruta\Polizas\" />
    <add key="RouteRepositoryLog" value="C:\Users\NS-656\Documents" />
    <add key="RouteLogo" value="C:\Proyectos\NavistarPagos19032024\NavistarPolizasQualitas\Resources\LogotipoQualitas-1.png" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="entradaSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://qbcenter.qualitas.com.mx/QBCImpresion/Service.asmx" binding="basicHttpBinding" bindingConfiguration="entradaSoap" contract="ServiceQualitasProd.entradaSoap" name="entradaSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="bd" connectionString="Server=DESKTOP-HA68KCO\SQLEXPRESS;Database=sfiinternational;User Id=sa;Password=sa;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>